#input{
    width: calc(90% - 16px);
    padding: 0;
    margin: 0;
    height: 5vh;
    border-radius: 5px;
}
#todoList{
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 0;
}
.isdone {
    padding: 0;
    width: 2vw;
    height: 100%;
    border: none;
}

.remove{
    padding: 0;
    width: 2vw;
    height: 100%;
    border: none;
    float: right;
}
span{
    font-size: 3vh;
}

.todoitem:hover{
    background-color: rgb(231, 239, 241);
    width: 100%;
}

.todoitem, .tickedtodoitem{
    animation: fade-in 1s 1;
    transition: opacity 2s linear;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

img{
    max-width:100%;
    max-height: 100%;
    padding:0;
    margin: 0;
}

ul{
    list-style-type: none;
}
li{
    height: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
    font-family: "Optima", sans-serif;
}

#add{
    width: calc(10% - 8px);
    padding: 0.5vw;
    float: right;
    margin: 0px;
    height: 5vh;
    border-radius: 5px;
    font-size: 1vw;

}

h1{
    font-family: "Andale Mono", monospace;
}

#options{
    display: inline-flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
}

.menu{
    padding: 5px;
    margin: 0;
    width: calc(33% - 14px);
    height: 5vh;
    font-size: 1.5vh;
    background-color: rgb(235, 235, 235);
}

#all{
    background-color: rgb(160, 189, 202);
}

